.shopPageAction{

}
$bcgLinkFeature:black;
$colorLinkFeature:white;

.headerTitle {
    .containt{
        width: calc($widthSectionBrand * .85);
        margin: 1rem auto;
    }
}


.headerTitle{
    background: burlywood;        
    // height: 10rem;
    // @include border();
    border: 1px dashed black;

    .containt{
        
        border: 1px dashed black;
        // margin: 1rem;

        h1{
            font-size: 4rem;
    }}
}

.shopPageContaint{
    border: 1px dashed black;
    background-color: white;
    padding: 4rem 0px;

    .containt{
        // justify-content: space-between;
        width: calc($widthSectionBrand * .85);
        margin: 0px auto;
        

        .containtTableChoice{
            flex-grow: 1;


            &:first-child{
                width: 60%;
            }
            &:last-child{
                padding-left:1rem
            }
            
            
        }

    }

    // width: $widthSectionBrand;

    .tableProductChoice{

    }
    
    .cartTotals{
        flex-grow: 0;
        tbody{
            // height: 100%;
            tr{
                td{
                    &:last-child{
                        // display: flex
                    }
                }
            }
        }
    }

    .containt{

        display: flex;
        flex-direction: row;
    }
}

.emptyShop{

        #actionReturn{
            display: inline-block;
            border: 1px dashed black;

            padding: 1rem 2rem ;
        }

        .title{
            font-size: 2rem;
        }

        .shortDescr{
            margin-bottom: 4rem;
        }
}

table{
    @include border();
    
    
        width: 100%;
    

    .buttonCount{
        @include border;
        padding: 0px;
        // span{
        //     cursor: pointer;
        // }

        .left,.right{
            cursor:pointer
        }
        .left{
            background: orangered;
            // &:hover{
                
            // }
        }
        .right{
            background: green;
        }
    }

    span{
        padding: 1rem;
        display: inline-block;
    }
    thead{
        
        td{
            padding: 1rem;
            @include border;
            text-align: center;
            background-color: orangered;
            font-weight: bolder;
        }
    }

    tbody{
        text-align: center;
        font-size: 1.25rem;
        tr{
            td:first-child{
                box-sizing: border-box ;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;


            }

            td{

                border: 1px solid black;
                
            }
        }
    }

    tfoot{
        @include border;
        font-size: 2rem;
        text-align: center;

        tr{
            @include border;
            position: relative;
            &:last-child{
                text-align:left;
            }
        }
    }
}

.linkFeature{
    @include border;
    display: initial;


}


.linkFeatureAction{
    display: inline-block;
    padding: 1rem;
    background: $bcgLinkFeature;
    color:$colorLinkFeature;
    font-size: 1rem;
    margin: 1rem;
}

