.shopPageAction{

}


.headerTitle ,.shopPageContaint {
    .containt{
        width: calc($widthSectionBrand * .85);
        margin: 1rem auto;
    }
}


.headerTitle{
    background: burlywood;        
    // height: 10rem;
    // @include border();
    border: 1px dashed black;

    .containt{
        
        border: 1px dashed black;
        // margin: 1rem;

        h1{
            font-size: 4rem;
    }}
}

.shopPageContaint{
    border: 1px dashed black;
    background-color: white;
    padding: 4rem 0px;

    // width: $widthSectionBrand;
}

.emptyShop{

        #actionReturn{
            display: inline-block;
            border: 1px dashed black;

            padding: 1rem 2rem ;
        }

        .title{
            font-size: 2rem;
        }

        .shortDescr{
            margin-bottom: 4rem;
        }
}

.buttonCount{
    border: 1px dashed black;
    display: inline-block;
    
    span{
        // height: 100%;
        display: inline-block;
        padding: 1rem;
        border: 1px dashed black;

        cursor: pointer;

        font-size: 1rem;
        &.left:hover{
            background: orangered;
        }
        &.right:hover{
            background: burlywood;
        }
    }
}

.tableProductList{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;

    &:hover{
        transition: .5s all;
    }
    td{
        border: 1px dashed black;
        margin: .1rem;
        padding: .75rem;
        
    }

    thead{
        border: 1px dashed black;
        font-size: 1.25rem;
        background: burlywood;

        td{
            
            padding: 1rem;
        }
    }

    tbody{
        // text-align: left;

        

        tr>td:first-child{
            display: flex;
            // height: 100%;,
            flex-direction: row;
            .removeProduct{
                display: inline-block;
                margin: 1rem;
                // padding: .75rem;
                // padding: 1rem;
                padding: .75rem;
                border-radius: 1rem;
                // justify-self: ;

                cursor: pointer;

                &:hover{
                    // color: white;
                    background: rgba(255, 0, 0, 0.25);
                    transition: .5s all;
                }
            }
            // @include centerFlex();
            justify-content: center;
            align-items: center;
        }
    }
}

.linkFeature{
    display: flex;
    padding: 1rem;
    margin: 1rem 0px;
    border: 1px dashed black;
    justify-content: flex-end;

}

.linkFeatureAction{
    background: black;
    color: white;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    border:.25rem solid black;
    &:hover{
        color: black;
        background: white;
        transition:.5s all ;
    }
}


.cartTotals{
    border: 1px dashed black;
    width: 75%;
    td{
        width: 10rem;
        border: 1px dashed black;

        font-size: 2rem;
        padding: 1rem;

        .linkFeature{
            background: black;
            color: white;
            display: inline-block;
            padding: 1rem;
            font-size: 1rem;
            border:.25rem solid black;
            &:hover{
                color: black;
                background: white;
                transition:.5s all ;
            }
        }
    }
}